.Layout {
    margin: 0 2vw;
    padding: 6vh 0 0;
    display: grid;
    grid-gap: 1rem;
    overflow: hidden;
}

.blog {
    grid-template-columns: 1fr;
	grid-template-areas:
		"header"
        "content" 
        "archives"
}

.new {
    grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"content"
}

.one {
    display: flex;
}

@media only screen and (min-width: 600px) {
    .Layout {
        margin: 0 15%;
        padding: 6vh 0 0;
        display: grid;
        grid-gap: 1rem;
        overflow: hidden;
    }

    .blog {
        grid-template-rows: 5vh min-content;
        grid-template-columns: 50vw 18vw;
        grid-template-areas:
            "header header"
            "content archives"
    }
}

@media only screen and (min-width: 1025px) {
}