.Layout {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.blog {
    display: grid;
    grid-template-columns: 1fr;
	grid-template-areas:
		"header"
        "content" 
        "archives"
}

.new {
    display: grid;
    grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"content"
}

.one {
    display: flex;
}



@media only screen and (min-width: 600px) {
    .blog {
        grid-template-rows: 1fr min-content;
        grid-template-columns: 70vw 30vw;
        grid-template-areas:
            "header header"
            "content archives"
    }
}

@media only screen and (min-width: 1025px) {
    .blog {
        grid-template-rows: 1fr min-content;
        grid-template-columns: 70vw 30vw;
        grid-gap: 0 1vw;
        grid-template-areas:
            "header header"
            "content archives"
    }
}