.Skills {
	flex-direction: column;
	padding-right: 2vw;
}

.SkillBtn {
	margin: 5vh 0 10vh;
}

.SkillChart {

}

.vh {
	height: 100vh;
	width: 100%;
	
	position: relative;
}

.ParallaxContainer {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

.About {
	padding: 0 5vw;
}

.Home {
	padding: 15vh 0 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

.Home h1{
	color: #9cdee7;
	text-shadow: 2px 2px 4px #000000;
}

.Home h4{
	text-shadow: 2px 2px 2px #000000;
}
.Home h5{
	text-shadow: 2px 2px 2px #000000;
}

.highlight {
	color: #fff;
	color: rgba(255,255,255, 0.9);
	text-shadow: -5px 1px 11px #B914C7;
}

.Next {
	margin-bottom: 0vh;
}


.ParallaxHalf {
	height: 60vh;
	flex-direction: column;
}

.row {
	margin-bottom: 0;
}