.Home {
	padding: 15vh 0 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

.Home h1{
	color: #9cdee7;
	text-shadow: 2px 2px 4px #000000;
}


.Home h4{
	text-shadow: 2px 2px 2px #000000;
}
.Home h5{
	text-shadow: 2px 2px 2px #000000;
}

.highlight {
	color: #fff;
	color: rgba(255,255,255, 0.9);
	text-shadow: -5px 1px 11px #B914C7;
}

.Next {
	margin-bottom: 15vh;
	margin-bottom: 0vh;
}
.ParallaxContainer {
	height: 60vh;
	margin: 20vh 0;

}

.ParallaxContainer  img {
	
}

