.Logo {
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: .75vh .75vw;
}
  
.Logo img {
    height: 100%;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: App-logo-spin infinite 50s linear;
    }
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  