.NavItem {
    margin: 0;
    width: 100%;
    height: 6vh;
    font-size: 1.5rem;
    display: block;
    box-sizing: border-box;
}

.NavItem a {
    text-decoration: none;
    font-size: 1.75rem;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: #008ac0;

}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: #50c9f8;
}

/* responsive setting*/
@media (min-width: 600px) {
    .NavItem {
        margin: 0 1vw;        
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavItem a {
        height: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 4px solid transparent;
        align-items: center;
    }

    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        border-bottom: 3px solid purple;
        color: purple;
    }

}
