.Archives {
    background-color: rgba(34,84,112,0.35);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 0;
    margin: 0;
}
.Archives, li {
    margin: 0;
    margin-left: 15px;
}

.Archives ul {
    margin: 0;
    padding-left: 15px;
}

.Archives, p {
    margin: 0 ;

}

li {
    list-style: disc; 
 }